<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <%= link_to 'Restaurant Rails 7', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Ingredienti', foods_path, class: "nav-link fs-5 text-center #{active_class(foods_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Tavoli', tables_path, class: "nav-link fs-5 text-center #{active_class(tables_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Crea Portate', courses_path, class: "nav-link fs-5 text-center #{active_class(courses_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Crea Ordini', orders_path, class: "nav-link fs-5 text-center #{active_class(orders_path)}" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
    .navbar-brand {
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        transition: transform 0.3s ease;
    }

    .navbar-brand:hover {
        transform: scale(1.05);
    }

    .nav-link {
        transition: color 0.3s ease, text-shadow 0.3s ease;
    }

    .nav-link:hover {
        color: #ffc107;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }

    .nav-link.active {
        color: #ffc107;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
</style>
