
<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.input :table_id, collection: Table.pluck(:numero, :id), prompt: 'Seleziona un Tavolo' %>
  </div>

  <h3>Portate</h3>

  <div id="tasks">
    <%= f.simple_fields_for :courses_orders do |fc| %>
      <%= render 'orders/courses_order_fields', f: fc %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "Aggiungi Portata", f, :courses_orders, class: "btn btn-secondary" %>
    </div>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, class: "btn btn-primary", value: "Crea Ordine" %>
  </div>
<% end %>
