<%= form_with(model: table) do |form| %>
  <% if table.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
        <% table.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="pb-3">
    <%= form.text_field :numero, class: "form-control", placeholder: "Numero" %>
  </div>

  <div class="pb-3">
    <%= form.number_field :posti, class: "form-control", placeholder: "Posti" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-secondary mt-3", value: "Crea Tavolo" %>
  </div>
<% end %>