<%= form_with(model: table, local: true) do |form| %>
  <% if table.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(table.errors.count, "errore") %> non ha permesso il salvataggio:</h2>
      <ul>
        <% table.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :numero, class: "form-control", placeholder: "Numero" %>
  </div>

  <div class="mb-3">
    <%= form.number_field :posti, class: "form-control", placeholder: "Posti" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-outline-primary mt-3", value: "Crea Tavolo" %>
  </div>
<% end %>