<% content_for :title, "Tavoli" %>

<div class="container my-5">
  <h1 class="text-center">Tavoli</h1>

  <div class="text-center">
    <%= link_to "Nuovo Tavolo", new_table_path, class: "btn btn-outline-success" %>
  </div>

  <table class="table table-light table-striped rounded">
    <thead>
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">Posti</th>
      <th scope="col" colspan="2" class="text-center"></th>
    </tr>
    </thead>
    <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.numero %></td>
        <td><%= table.posti %></td>
        <td class="text-center">
          <%= link_to "Mostra", table, class: "btn btn-outline-primary" %>
        </td>
        <td class="text-center">
          <%= button_to "Cancella", table, method: :delete, class: "btn btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>