<% content_for :title, "Foods" %>

<div class="container my-5">
  <h1 class="text-center">Ingredienti</h1>

  <div class="text-center mt-3">
    <%= link_to "Nuovo Ingrediente", new_food_path, class: "btn btn-outline-success" %>
  </div>

  <table class="table table-light table-striped table-hover rounded">
    <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Categoria</th>
      <th scope="col">Quantità</th>
      <th scope="col" class="text-center" colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.nome %></td>
        <td><%= food.categoria %></td>
        <td><%= food.quantità %></td>
        <td class="text-center">
          <%= link_to "Mostra", food, class: "btn btn-outline-primary" %>
        </td>
        <td class="text-center">
          <%= link_to "Modifica", edit_food_path(food), class: "btn btn-outline-warning" %>
        </td>
        <td class="text-center">
          <%= button_to "Cancella", food, method: :delete, class: "btn btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>


</div>