<div class="row align-items-md-stretch mt-5">
  <div class="col-12">
    <div class="h-300 p-5 bg-light rounded shadow">
      <h1><%= @food.nome %></h1>
      <h5><%= @food.categoria %> | N°: <%= @food.quantità %></h5>

      <div class="pt-5">
        <%= link_to "Modifica", edit_food_path(@food), class: "btn btn-outline-warning" %>
        <%= link_to "Indietro", foods_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>