<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :nome %>
  </div>

    <h3>Ingrediente</h3>

    <div id="tasks">
      <%= f.simple_fields_for :foods_courses do |fc| %>
        <%= render 'foods_course_fields', f: fc %>
      <% end %>
      <div class="links my-2">
        <%= link_to_add_association "Aggiungi Ingrediente", f, :foods_courses , :class=> "btn btn-secondary"%>
      </div>
    </div>

  <div class="form-actions mt-3">
    <%= f.button :submit , :class=> "btn btn-secondary", value: "Crea Portata"%>
  </div>

<% end %>
